= form_for @product_list, url: polymorphic_path([@listable, :product_list]) do |f|
  - autonumeric_options = { 'aPad': false }
  - Product.categories.each do |category, _|
    %template{ id: "#{category}-product-template" }
      = render 'product_form', f: f, product: Product.new(category: category)

    %template{ id: "#{category}-insurance-policy-template" }
      = render 'insurance_policy_form', f: f, insurance_policy: InsurancePolicy.new(category: category)

    .row.category
      .columns
        .row
          .small-3.columns
            %h3
              = category
          .small-9.columns.default-category-profit
            - case category
            - when 'car'
              = f.text_field :car_reserved_profit, label: 'Default profit setting <small>($)</small>', data: { autonumeric: autonumeric_options }
            - when 'family'
              = f.text_field :family_reserved_profit, label: 'Default profit setting <small>($)</small>', data: { autonumeric: autonumeric_options }

        %table.complex-table
          %thead
            %tr
              %th Product name
              %th Tax
              %th
                Retail price
                %small ($)
              %th
                Dealer cost
                %small ($)
              %th
                Profit
                %small ($)
              %th
          %tbody{ id: "#{category}-products" }
            - @product_list.products.sort_by { |p| p.created_at || Time.now }.each do |product|
              - if product.category == category
                = render 'product_form', f: f, product: product

        %table.complex-table
          %thead
            %tr
              %th
                Insurance name
              - if admin?
                %th
                  Rates
                  %small (%)
          %tbody{ id: "#{category}-insurance-policies" }
            - @product_list.insurance_policies.each do |insurance_policy|
              - if insurance_policy.category == category
                = render 'insurance_policy_form', f: f, insurance_policy: insurance_policy

        %ul.button-group.radius
          %li
            %a.add.button.tiny{ data: { template: "#{category}-product-template", target: "#{category}-products" } }
              Add Product
          %li
            %a.add.button.tiny{ data: { template: "#{category}-insurance-policy-template", target: "#{category}-insurance-policies" } }
              Add Insurance

  .row
    - if current_user.admin?
      .medium-3.columns
        = f.text_field :insurance_profit, label: 'Insurance Profit <small>(%)</small>'
    - if @deal.present?
      .medium-3.columns
        = f.fields_for :deal, @deal do |df|
          = df.select :province_id, options_for_select(provinces_with_taxes, @deal.province_id), {}, id: 'province'
      .medium-3.columns.end.provincial-tax
        PST:
        %span#pst<
          = @deal.province.pst
        GST:
        %span#gst<
          = @deal.province.gst
  .row
    .columns
      .total
        Total profit:
        %span#total-profit
          = @product_list.products.profit
      = f.submit value: 'Save product list', class: 'small success button'
