= f.fields_for :interest_rates, interest_rates do |rf|
  .interest-rate
    .row.collapse
      = rf.hidden_field :lender_id
      = rf.hidden_field :_destroy
      .small-10.columns
        = rf.text_field :percent_value, label: false, data: { autonumeric: true }
      .small-2.columns
        %span.postfix
          = link_to '', '#', class: 'destroy fa fa-trash-o'
