%nav
  .row
    .columns
      %ul.breadcrumbs
        %li= link_to 'Deals', deals_path
        %li= link_to @client.name, deal_path(@deal)
%main
  .row
    %h1 Worksheet
    = form_for @deal, url: deal_worksheet_path(@deal) do |f|
      .small-8.columns
        %table.complex-table
          %thead
            %tr
              %th
              %td
                %h2 Lender 1
              %th
              %td
                %h2 Lender 2
          %tbody
            %tr
              %th Bank
              %td
                = f.fields_for :lenders, @lender_l do |lf|
                  = lf.text_field :bank, label: false
              %td
                = cross_copy(:bank)
              %td
                = f.fields_for :lenders, @lender_r do |lf|
                  = lf.text_field :bank, label: false
            %tr
              %th Financing Type
              %td.lender-l
                = f.fields_for :lenders, @lender_l do |lf|
                  = lf.select :loan, loans, { label: false }, class: 'loan-type-select'
              %td
              %td.lender-r
                = f.fields_for :lenders, @lender_r do |lf|
                  = lf.select :loan, loans, { label: false }, class: 'loan-type-select'
            %tr
              %th Payment Frequency
              %td.lender-l
                = f.fields_for :lenders, @lender_l do |lf|
                  = lf.select :frequency, compounding_frequencies, { label: false }
              %td
              %td.lender-r
                = f.fields_for :lenders, @lender_r do |lf|
                  = lf.select :frequency, compounding_frequencies, { label: false }
            %tr
              %th
                MSRP
                %small ($)
              %td
                = f.fields_for :lenders, @lender_l do |lf|
                  = lf.text_field :msrp, label: false, data: { autonumeric: autonumeric_options }
              %td
                = cross_copy(:msrp)
              %td
                = f.fields_for :lenders, @lender_r do |lf|
                  = lf.text_field :msrp, label: false, data: { autonumeric: autonumeric_options }
            %tr
              %th
                Bank Reg Fee
                %small ($)
              %td
                = f.fields_for :lenders, @lender_l do |lf|
                  = lf.text_field :bank_reg_fee, label: false, data: { autonumeric: autonumeric_options }, id: 'left_bank_reg_fee'
              %td
                = cross_copy(:bank_reg_fee)
              %td
                = f.fields_for :lenders, @lender_r do |lf|
                  = lf.text_field :bank_reg_fee, label: false, data: { autonumeric: autonumeric_options }, id: 'left_bank_reg_fee'
            %tr
              %th
                Cash Price
                %small ($)
              %td
                = f.fields_for :lenders, @lender_l do |lf|
                  = lf.text_field :cash_price, label: false, data: { autonumeric: autonumeric_options }, id: 'left_cash_price'
              %td
                = cross_copy(:cash_price)
              %td
                = f.fields_for :lenders, @lender_r do |lf|
                  = lf.text_field :cash_price, label: false, data: { autonumeric: autonumeric_options }, id: 'right_cash_price'
            %tr
              %th
                Trade In Value
                %small ($)
              %td
                = f.fields_for :lenders, @lender_l do |lf|
                  = lf.text_field :trade_in, label: false, data: { autonumeric: autonumeric_options }, id: 'left_trade_in'
              %td
                = cross_copy(:trade_in)
              %td
                = f.fields_for :lenders, @lender_r do |lf|
                  = lf.text_field :trade_in, label: false, data: { autonumeric: autonumeric_options }, id: 'right_trade_in'
            %tr
              %th
                Lien Amount
                %small ($)
              %td
                = f.fields_for :lenders, @lender_l do |lf|
                  = lf.text_field :lien, label: false, data: { autonumeric: autonumeric_options }, id: 'left_lien'
              %td
                = cross_copy(:lien)
              %td
                = f.fields_for :lenders, @lender_r do |lf|
                  = lf.text_field :lien, label: false, data: { autonumeric: autonumeric_options }, id: 'right_lien'
            %tr
              %th
                Cash Down
                %small ($)
              %td
                = f.fields_for :lenders, @lender_l do |lf|
                  = lf.text_field :cash_down, label: false, data: { autonumeric: autonumeric_options }, id: 'left_cash_down'
              %td
                = cross_copy(:cash_down)
              %td
                = f.fields_for :lenders, @lender_r do |lf|
                  = lf.text_field :cash_down, label: false, data: { autonumeric: autonumeric_options }, id: 'right_cash_down'
            %tr
              %th
                Rebate
                %small ($)
              %td
                = f.fields_for :lenders, @lender_l do |lf|
                  = lf.text_field :rebate, label: false, data: { autonumeric: autonumeric_options }, id: 'left_rebate'
              %td
                = cross_copy(:rebate)
              %td
                = f.fields_for :lenders, @lender_r do |lf|
                  = lf.text_field :rebate, label: false, data: { autonumeric: autonumeric_options }, id: 'right_rebate'
            %tr
              %th
                DCI
                %small ($)
              %td
                = f.fields_for :lenders, @lender_l do |lf|
                  = lf.text_field :dci, label: false, data: { autonumeric: autonumeric_options }, id: 'left_dci'
              %td
                = cross_copy(:dci)
              %td
                = f.fields_for :lenders, @lender_r do |lf|
                  = lf.text_field :dci, label: false, data: { autonumeric: autonumeric_options }, id: 'right_dci'
            %tr
              %th
                Term
                %small (month)
              %td
                =f.fields_for :lenders, @lender_l do |lf|
                  = lf.select :term, Lender::TERMS, include_blank: true, label: false
              %td
              %td
                = f.fields_for :lenders, @lender_r do |lf|
                  = lf.select :term, Lender::TERMS, include_blank: true, label: false
            %tr.kickback
              %th
                Kickback
                %small (%)
              %td
              %td
              %td
                = f.fields_for :lenders, @lender_r do |lf|
                  = lf.text_field :kickback_percent, label: false, data: { autonumeric: autonumeric_options }
            %tr.amortization
              %th
                Amortization
                %small (month)
              %td
              %td
              %td.lender-r
                = f.fields_for :lenders, @lender_r do |lf|
                  = lf.select :amortization, Lender::TERMS, include_blank: true, label: false
            %tr.residual
              %th Residual
              %td.lender-l
                .row.collapse
                  = f.fields_for :lenders, @lender_l do |lf|
                    .small-9.columns
                      = lf.text_field :residual_value, label: false, data: { autonumeric: autonumeric_options }, id: 'lender-l-residual'
                    .small-3.columns
                      = lf.select :residual_unit, residual_units, { label: false }, data: { target: '#lender-l-residual' }, class: 'residual-unit-select'
              %td
              %td.lender-r
                .row.collapse
                  = f.fields_for :lenders, @lender_r do |lf|
                    .small-9.columns
                      = lf.text_field :residual_value, label: false, data: { autonumeric: autonumeric_options }, id: 'lender-r-residual'
                    .small-3.columns
                      = lf.select :residual_unit, residual_units, { label: false }, data: { target: '#lender-r-residual' }, class: 'residual-unit-select'

            %tr.rounding
              %th
              %td.lender-l
              %td
              %td.lender-r
                .row.collapse
                  = f.fields_for :lenders, @lender_r do |lf|
                    .small-12.columns
                      = lf.check_box :rounding
            %tr
              %th
                Maximum Dollar Amount Approved
                %small ($)
              %td
                = f.fields_for :lenders, @lender_l do |lf|
                  = lf.text_field :max_amount, label: false, data: { autonumeric: autonumeric_options }, class: 'autoclear'
              %td
                = cross_copy(:max_amount)
              %td
                = f.fields_for :lenders, @lender_r do |lf|
                  = lf.text_field :max_amount, label: false, data: { autonumeric: autonumeric_options }, class: 'autoclear'
            %tr
              %th
                Rates
                %small (%)
              %td
                #left-interest-rates
                  = f.fields_for :lenders, @lender_l do |lf|
                    = render partial: 'interest_rate', locals: { f: lf, interest_rates: @interest_rates_l }
                    %template{ id: 'left-interest-rates-template' }
                      = render partial: 'interest_rate', locals: { f: lf, interest_rates: @new_interest_rate_l }
                .buttons
                  %a.add.button.tiny{ data: { template: 'left-interest-rates-template', target: 'left-interest-rates' } }
                    Add Rate
                - unless @lender_l.errors[:interest_rates].empty?
                  %small.error
                    = @lender_l.errors[:interest_rates][0]
              %td
              %td
                #right-interest-rates
                  = f.fields_for :lenders, @lender_r do |lf|
                    .row.collapse
                      = render partial: 'interest_rate', locals: { f: lf, interest_rates: @interest_rates_r }
                    %template{ id: 'right-interest-rates-template' }
                      = render partial: 'interest_rate', locals: { f: lf, interest_rates: @new_interest_rate_r }
                .buttons
                  %a.add.button.tiny{ data: { template: 'right-interest-rates-template', target: 'right-interest-rates' } }
                    Add Rate
                - unless @lender_r.errors[:interest_rates].empty?
                  %small.error
                    = @lender_r.errors[:interest_rates][0]

      .small-4.columns
        %h3 Payment Ranges
        .row.collapse
          .small-6.columns
            = f.text_field :min_payment, label: 'Min', data: { autonumeric: autonumeric_options }
          .small-6.columns
            = f.select :min_frequency, compounding_frequencies, label: '&nbsp;'
        .row.collapse
          .small-6.columns
            = f.text_field :max_payment, label: 'Max', data: { autonumeric: autonumeric_options }
          .small-6.columns
            = f.select :max_frequency, compounding_frequencies, label: '&nbsp;'
        %hr
          = f.check_box :pst_trade_in_allowance, label: 'PST Trade-in Allowance'
          = f.check_box :gst_trade_in_allowance, label: 'GST Trade-in Allowance'
          = f.check_box :status_indian, label: 'Status Indian'
          = f.check_box :used, label: 'Used vehicle'
          = f.select :tax, taxes, label: 'Vehicle tax'
          = f.collection_select(:province_id, provinces, :abbr, :abbr)
      .small-12.columns
        = f.submit value: 'Save changes', class: 'small success button'

