%nav
  .row
    .columns
      %ul.breadcrumbs
        %li= link_to 'Dealerships', dealerships_path
        %li.current= @dealership.name
%main
  .row
    .columns
      %h1 Users
      - if @users.empty?
        %p
          No users yet
      - else
        %table.basic-table#dealership-users
          %thead
            %tr
              %th Name
              %th Email
              %th
          %tbody
            - @users.each do |user|
              %tr
                %td
                  = link_to user.name, edit_dealership_user_path(@dealership, user)
                %td
                  = mail_to user.email
                %td
                  = link_to dealership_user_path(@dealership, user), id: "btn-delete-user-#{user.id}", class: 'delete-link', method: :delete, data: { confirm: 'Are you sure?' } do
                    %i.fa.fa-trash-o
      = link_to 'Add a User', new_dealership_user_path(@dealership), class: 'button small'
